<!-- Default home page -->
<link type="text/css" href='http://wayfarermobile.com' rel='stylesheet'/>


<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Wayfarer Mobile') %></h1>
        <h3 class="container"These are not the droids your looking for.</h3>
    </div>
    <div class="main container clearfix">

        </div>
    </div>
</div>
